/node_modules
/public/hot
/public/storage
/storage/*.key
/kari.sql
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
/storage/tmp
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/framework/views/*
!/storage/framework/views/.gitignore
.DS_Store
docker-local/
/public/.well-known
.idea/
.vscode/
.ddev/