<IfModule mod_authz_core.c>
    <FilesMatch "deploy-log\.txt(\.\d+\.old)?$">
        Require all denied
    </FilesMatch>
</IfModule>
<IfModule !mod_authz_core.c>
    <FilesMatch "deploy-log\.txt(\.\d+\.old)?$">
        Order deny,allow
        Deny from all
    </FilesMatch>
</IfModule>
